@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Azeret Mono;
}

/* header banner styles=============== */

header {
    width: 1440px;
    height: 652px;
    background-image: url(/assets/Hero-bg.png);
    background-repeat: no-repeat;

    /* background-size: cover; */
    /* border: red 2px solid; */


}


.banner-container {
    width: 90%;
    height: 582px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;



    /* border: yellow 2px solid; */

}

.banner-container-image {

    width: 240.28px;
    height: 240px;

    /* border: salmon 2px solid; */
}


.banner-container-text {
    width: 100%;
    height: 250px;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    text-align: center;

    /* padding: 15px; */
    /* border: magenta 2px solid; */
}

.banner-container-text-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0%;
    width: 100%;
    margin: 0% auto;


    /* border: green 2px solid; */
    /* text-align: center; */
}

.banner-container-text-subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    width: 80%;
    margin: 1% auto;

    /* border: red 2px solid; */

}

.btn-container {
    color: aliceblue;
    border-radius: 5px;
    background: rgb(13, 19, 33);
    padding: 15px 20px;
    margin-top: 20px;
}

.btn-container>a>button {
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;

}


/* start main section styles =========== */
main {
    width: 1440px;
    height: 1395px;
    border-radius: 5px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 50px 0px;

    border: white 1px solid;
}

.main-content {
    width: 90%;
    height: 1282px;
    margin: 4% auto;

    /* border: yellowgreen 2px solid; */
}

#web-devolpment {
    width: 95%;
    height: 130px;
    margin: 0% auto;
    text-align: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* border: blue 2px solid; */
}

.web-devolpment-container-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;

}

.web-devolpment-container-subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    opacity: 0.7;
    text-align: left;
}

/* start the main section coding container  */

.coding-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;

    /* border: black 2px solid; */
}

.change-modern-world {
    width: 100%;
    height: 339px;

    /* border: tomato 2px solid; */

}

.chnage-world-container {
    width: 95%;
    height: 260px;
    margin: 3% auto;
    display: flex;

    justify-content: space-between;

    /* border: gold 2px solid; */
}

.chnage-world-container-text,
.chnage-modern-container-text {
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    /* border: green 2px solid; */

}

.chnage-world-container-text-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;

}

.chnage-world-container-text-subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;

}


/* all button main section  */
.btn-main>a>button {
    padding: 10px 15px;
    background-color: 1px rgb(10, 64, 192);
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
}

.chnage-world-container-image,
.chnage-modern-container-image {
    width: 310.56px;
    height: 259px;

    /* border: goldenrod 2px solid; */
}

/* section modern styles================ */
#modern-system {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;

    /* border: blue 2px solid; */
}


.chnage-modern-container {
    width: 95%;
    height: 260px;
    margin: 3% auto;
    display: flex;
    gap: 200px;


}

/* footer section styles start ============= */
footer {
    width: 1440px;
    height: 100%;

    /* border: green 2px solid; */
}

#inspiration {
    width: 95%;
    margin: 0% auto;
    height: 730px;


    /* border: red 2px solid; */
}

.inspiration-container-text {
    width: 70%;
    height: 115px;
    margin: 0% auto;
    

    /* border: yellow 2px solid; */
}

.inspiration-container-text-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.inspiration-container-text-subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    opacity: 0.7;
    text-align: left;
    margin-top: 10px;
}

.inspiration-container-vidio{
    width: 90%;
    height: 570px;
    margin: 3% auto;

    /* border:  tomato 2px solid; */
}